.TodoItem {
  background-color: #303030;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  box-shadow: 0px 5px 50px rgba(86, 86, 86, 0.3);

  /* min-width: 300px; */
  border: solid 1px #ccc;
  border-radius: 8px;
  width: 20rem;
  height: 3.5rem;
}

.TodoItem-p {
  width: cal(100% - 120px);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.TodoItem-p--complete{
  text-decoration: line-through;
  color: #878787;
}