.ModalBackground {
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fade-in 300ms;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}