body {
  background-color: #242424;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  position: relative;
  max-width: 90%;
  max-height: 100%;
}