.TodoItem {
  background-color: #303030;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  box-shadow: 0px 5px 50px rgba(86, 86, 86, 0.3);

  /* min-width: 300px; */
  border: solid 1px #ccc;
  border-radius: 8px;
}

.TodoItem-p {
  width: cal(100% - 120px);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.TodoItem-p--complete{
  text-decoration: line-through;
  color: #878787;
}

.Icon-svg {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 23px;
  width: 23px;
  padding: 1rem;
}

.Icon-check:hover {
  color: #00ff08;
}

.Icon-check--active {
  color: #4caf50;
}

.Icon-delete {
  height: 20px;
  width: 20px;
}

.Icon-delete:hover {
  color: red
}