.TodoSearch {
  background-color: #ebebeb;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0 2rem;
  width: calc(100% - 70rem);
  height: 2.2rem;
  padding: 0.3rem;
  color: #727272;
  font-size: 1rem;
  text-indent: 0.8rem;
  font-style: italic;
  font-weight: 500;
}

.TodoSearch::placeholder {
  font-style: italic;
  color: #7a7a7a;
  font-size: 18px;
}

.TodoSearch:focus {
  outline-color: #0088ff;
}