.TodoSearch {
  background-color: #ebebeb;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 2rem 3rem;
  width: 300px;
  height: 3.5rem;
  padding: 1.5rem;
  color: #727272;
  font-size: 1rem;
  
  font-style: italic;
  font-weight: 500;
}

.TodoSearch::placeholder {
  font-style: italic;
  color: #7a7a7a;
  font-size: 18px;
}

.TodoSearch:focus {
  outline-color: #0088ff;
}